.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}

.tonleikar{
    border: dotted blue 3px;
    border-radius: 5px;
    text-align: center;
}

body{
    background-color: tomato;
    width: 1000px;
    margin: 0 auto;
    display: block;
}

.box{
    border: 0.75px dotted;
    border-radius: 5px;
    background-color: gray;
    padding: 5px;
}